@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

body {

    font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
 background-color: #27272d;
}

a{
    color: #ffffff;
}

p {
    font-size: .8em;
}

h1 {
    font-size: 1.7em;
    text-transform: uppercase;
    color: #ffffff;
}

h2

{
    font-size: .9em;
    text-transform: uppercase;
}

#pagewrap {
  
  margin: 10px auto;
  text-align: center;
    width: 100%;
}




/*@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400);

body {

    font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
 background-color: #27272d;
}

a{
    color: #ffffff;
}

p {
    font-size: .8em;
}

h1 {
    font-size: 1.7em;
    text-transform: uppercase;
    color: #ffffff;
}

h2

{
    font-size: .9em;
    text-transform: uppercase;
}

img {  height:600px;
    width:auto;
   
}

/* STRUCTURE */


/*
#pagewrap {
  
  margin: 10px auto;
  text-align: center;
}

header {
  text-align: center;
}

#left {
  text-align: center;
}

/*
#middle {
  width: 50%;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}*/

 .button {
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: 2px solid;
  border-color: #e82258;
  border-radius:4px;
  padding: 12px 50px;
  color: #fff;
  background: #e82258;
  letter-spacing:.025em;
  margin: 10px;
  }

  .button:hover {
    color: #fff;
    background: #e82258;
  }
  .button:active {
  }
  .button:after {
  }

.calltoaction {
 border-bottom: solid 1px #ccc;
}

section {
    clear: both;
  padding: 3% 10%;
    text-align: center;
}

footer p {

    color: #858585;
    font-size: .1em;
    clear: both;
    padding: 2% 10%;
    text-align: center;
}



 */

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */

/* 
@media screen and (max-width: 980px) {
  #pagewrap {
    width: 100%;
    
  }
    #content{
          max-width: 900px;
              height: auto;
    }
    
    img{
          width: 95.6%;
width: auto;
    }
  #left{
    width: 50%;
    padding: 1% 4%;
   
  }
  #middle {
    width: 50;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: left;
  }

  #sidebar {
   width: 0;
 
    padding: 1% 4%;

    float: right;
  }

    header{
         padding-bottom: 4%; 
    }
    footer {
    padding: 1% 4%;
  }
}

#logo1{
   width: 25%; 
   padding:0 45px;
}

#logo2{
   width: 25%;
    padding:10px 45px;
}

/* for 700px or less */

@media screen and (max-width: 600px) {
  #left{
    width: 100%;
 
  }

 /* for 700px or less  #middle {
    width: auto;
    float: none;
    margin-left: 0px;
  }

  #sidebar {
    width: auto;
    float: none;
  }
}*/

/* for 480px or less */
/* @media screen and (max-width: 480px) {
  header {
    height: auto;
  }
 
}


header, #content, #left, #middle, #sidebar {
  margin-bottom: 5px;
}


.tape {
  font-size: 3pt;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 56em;
  height: 34.5em;
  background-color: #232323;
  border-radius: 1.2em;
  position: relative;
  -webkit-perspective: 50em;
          perspective: 50em;
  font-family: Lato, 'Hevetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
@media only screen and (min-width: 400px) {
  .tape {
    font-size: 4pt;
  }
}
@media only screen and (min-width: 500px) {
  .tape {
    font-size: 5pt;
  }
}
@media only screen and (min-width: 600px) {
  .tape {
    font-size: 6pt;
  }
}
@media only screen and (min-width: 700px) {
  .tape {
    font-size: 7pt;
  }
}
@media only screen and (min-width: 800px) {
  .tape {
    font-size: 8pt;
  }
}
@media only screen and (min-width: 900px) {
  .tape {
    font-size: 9pt;
  }
}
@media only screen and (min-width: 1000px) {
  .tape {
    font-size: 10pt;
  }
}
@media only screen and (min-width: 1100px) {
  .tape {
    font-size: 11pt;
  }
}
@media only screen and (min-width: 1200px) {
  .tape {
    font-size: 12pt;
  }
}
.tape .screws i {
  position: absolute;
  display: block;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  border: solid 0.45em #494949;
  background-color: #555;
  box-shadow: inset -0.25em -0.25em #333;
  z-index: 10;
}
.tape .screws i::before,
.tape .screws i::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #333333;
}
.tape .screws i::before {
  width: 50%;
  height: 14%;
  top: 43%;
  left: 25%;
}
.tape .screws i::after {
  width: 14%;
  height: 50%;
  top: 25%;
  left: 43%;
}
.tape .screws i:nth-child(1) {
  top: .4em;
  left: .4em;
}
.tape .screws i:nth-child(2) {
  top: .4em;
  right: .4em;
}
.tape .screws i:nth-child(3) {
  bottom: .4em;
  left: .4em;
}
.tape .screws i:nth-child(4) {
  bottom: .4em;
  right: .4em;
}
.tape .screws i:nth-child(5) {
  bottom: 4em;
  left: 26.85em;
}
.tape .screws i:nth-child(2)::before,
.tape .screws i:nth-child(2)::after,
.tape .screws i:nth-child(3)::before,
.tape .screws i:nth-child(3)::after {
  -webkit-transform: rotateZ(-17deg);
          transform: rotateZ(-17deg);
}
.tape .screws i:nth-child(4)::before,
.tape .screws i:nth-child(4)::after,
.tape .screws i:nth-child(5)::before,
.tape .screws i:nth-child(5)::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.tape .outdent {
  position: absolute;
  background-color: #252525;
  width: 76%;
  height: 27%;
  left: 12%;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  border-top: solid 1.3em #666;
  border-left: solid 1.3em transparent;
  border-right: solid 1.3em transparent;
  box-shadow: 1.5em 0 #333;
}
.tape .holes i {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #494949;
}
.tape .holes i:nth-child(1),
.tape .holes i:nth-child(4) {
  width: 2.8em;
  height: 2.8em;
  bottom: .9em;
}
.tape .holes i:nth-child(1) {
  left: 12.9em;
}
.tape .holes i:nth-child(4) {
  right: 12.9em;
}
.tape .holes i:nth-child(2),
.tape .holes i:nth-child(3) {
  width: 2.3em;
  height: 2.3em;
  bottom: 2.4em;
}
.tape .holes i:nth-child(2) {
  left: 18em;
}
.tape .holes i:nth-child(3) {
  right: 18em;
}
.tape .label {
  position: absolute;
  width: 82%;
  height: 63.5%;
  top: 8%;
  left: 9%;
  background-color: #494949;
  border-radius: .7em;
  padding: .6em;
}
.tape .label .inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: .3em;
}
.tape .label .inner::after {
  content: 'A';
  display: block;
  position: absolute;
  top: 8%;
  left: 6%;
  background-color: #1ED760;
  color: #000;
  font-size: 220%;
  padding: .2em .45em;
}
.tape .label .inner .lines {
  position: absolute;
  width: 76%;
  top: 8%;
  right: 6%;
}
.tape .label .inner .lines i {
  display: block;
  background-color: #1ED760;
  width: 100%;
  height: .15em;
  margin-bottom: 1.5em;
}
.tape .label .inner .stripes {
  position: absolute;
  width: 100%;
  height: 23%;
  top: 36%;
  left: 0%;
}
.tape .label .inner .stripes i {
  display: block;
  width: 100%;
  height: 50%;
}
.tape .label .inner .stripes i:first-child {
  background-color: #86e8a9;
}
.tape .label .inner .stripes i:last-child {
  background-color: #1ED760;
}
.tape .label .inner .cutout {
  position: absolute;
padding: .8%;
  width: 74%;
  height: 52%;
  top: 36%;
  left: 13%;
  background-color: #232323;
  border-radius: 1.7em;
}
.tape .label .inner .cutout .wheel {
  position: absolute;
  top: 1.7em;
  width: 7.55em;
  height: 7.55em;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: solid 0.8em #666;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}
.tape .label .inner .cutout .wheel:nth-child(1) {
  left: 1.7em;
}
.tape .label .inner .cutout .wheel:nth-child(2) {
  right: 1.7em;
}
.tape .label .inner .cutout .wheel i {
  display: block;
  position: absolute;
  width: 10%;
  height: 55%;
  left:45%;
  top: -20%;
  border-top: solid 1.1em #666;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.tape .label .inner .cutout .wheel i:nth-child(1) {
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
}
.tape .label .inner .cutout .wheel i:nth-child(2) {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.tape .label .inner .cutout .wheel i:nth-child(3) {
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
}
.tape .label .inner .cutout .wheel i:nth-child(4) {
  -webkit-transform: rotateZ(210deg);
          transform: rotateZ(210deg);
}
.tape .label .inner .cutout .wheel i:nth-child(5) {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}
.tape .label .inner .cutout .wheel i:nth-child(6) {
  -webkit-transform: rotateZ(330deg);
          transform: rotateZ(330deg);
}
.tape .label .inner .cutout .window {
  position: absolute;
  width: 39%;
  height: 66%;
  left: 30.5%;
  top: 17%;
  background-color: #f1f1f1;
  border-top: solid 0.9em #1ED760;
  border-left: solid 0.9em #494949;
  border-right: solid 0.9em #494949;
  border-bottom: solid 0.9em #555;
  overflow: hidden;
}
.tape .label .inner .cutout .window .spool-left,
.tape .label .inner .cutout .window .spool-right {
  position: absolute;
  border-radius: 50%;
  background: -webkit-repeating-linear-gradient(123deg, #444, #444 35%, #58454b 35%, #58454b 65%);
  background: repeating-linear-gradient(-33deg, #444, #444 35%, #58454b 35%, #58454b 65%);
}
.tape .label .inner .cutout .window .spool-left {
  width: 22.6em;
  height: 22.6em;
  top: -8.5em;
  left: -16.75em;
  -webkit-animation: spool-left-animation 6s linear infinite;
          animation: spool-left-animation 6s linear infinite;
}
.tape .label .inner .cutout .window .spool-right {
  width: 12.6em;
  height: 12.6em;
  top: -3.5em;
  right: -11.75em;
  -webkit-animation: spool-right-animation 6s linear infinite;
          animation: spool-right-animation 6s linear infinite;
}
.tape .label .inner .cutout .window .reel-left,
.tape .label .inner .cutout .window .reel-right {
  position: absolute;
  width: 11.6em;
  height: 11.6em;
  top: -3em;
  border-radius: 50%;
  background-color: #666;
}
.tape .label .inner .cutout .window .reel-left {
  left: -11.25em;
}
.tape .label .inner .cutout .window .reel-right {
  right: -11.25em;
}
.tape .label .inner .cutout .ticks {
  position: absolute;
  width: 31.2%;
  height: .9em;
  left: 34.4%;
  bottom: 16%;
  background: -webkit-repeating-linear-gradient(left, #232323, #232323 1.5%, transparent 1.5%, transparent 8.2%);
  background: repeating-linear-gradient(90deg, #232323, #232323 1.5%, transparent 1.5%, transparent 8.2%);
}
.tape .label .inner .quality {
  position: absolute;
  margin: 0;
  width: 10%;
  left: 1.4%;
  top: 62.5%;
  font-size: 63%;
  color: #1ED760;
  line-height: 1.3;
  padding-bottom: .9em;
  border-bottom: solid 0.4em #1ED760;
  white-space: nowrap;
}
.tape .label .inner .type {
  position: absolute;
  margin: 0;
  right: 1.3%;
  top: 61%;
  font-size: 240%;
  color: #1ED760;
}
.tape .label .inner .type span {
  color: #86e8a9;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
@-webkit-keyframes spool-left-animation {
  0% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
@keyframes spool-left-animation {
  0% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    left: -11.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    left: -16.75em;
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
@-webkit-keyframes spool-right-animation {
  0% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
@keyframes spool-right-animation {
  0% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  5% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  75% {
    width: 22.6em;
    height: 22.6em;
    top: -8.5em;
    right: -16.75em;
    -webkit-transform: rotateZ(-720deg);
            transform: rotateZ(-720deg);
  }
  100% {
    width: 12.6em;
    height: 12.6em;
    top: -3.5em;
    right: -11.75em;
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
  }
}
p.description {
  font-family: Lato, 'Hevetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 9pt;
  color: #494949;
  line-height: 2;
  margin: 2em 2em 1em 2em;
  text-align: center;
}
*/ */
